@import '/static/css/base.scss';

.page-header{
	padding: 0 0 $space/2 0;
	margin: 0;
	.glyphicon{
		top: $space*.1;
		margin-left: $space/2;
	}
	h1{
		font-size: $fontSize+4;
		font-weight: normal;
		margin: $space/2 0;
	}
}

.main-form{
	margin-top: $space/2;
	.row{
		@include borderBottomMix(1px dashed #e6e6e6);
		display: inline-block;
		width: 100%;
		height: $space*3;
		line-height: $space*3;
		margin: 0 auto;
		label{
			padding: 0;
		}
		input{
			display: inline-block;
			vertical-align: middle
		}
		.main-form-date{
			input{
				width: 50%;
			}
		}
		.main-form-radio{
			label, input{
				display: inline;
				width: auto;
			}
			input{
				margin: -1px 0 0 0;
				height: $fontSize;
			}
			span{
				display: inline-block;
				width: 25%;
			}
		}
		.main-form-file{
			input{
				width: 50%;
				font-size: $fontSize - 2;
			}
		}
		.main-form-email{
			input{
				width: 50%;
			}
			label{
				text-indent: $space/2;
			}
		}
		.main-form-sug{
			position: relative;
			.list-group{
				position: absolute;
			    top: $space * 2.5 -3;
			    left: $space * 0.75;
			    right: $space * 0.75;
			    line-height: $fontSize + 2;
			    z-index: 10;
			    @include boxShadow;
			    li:hover{
					background: #f5f5f5;
					cursor: pointer;
			    }
			}
		}

	}
	.no-border{
		border:none;
	}
}